<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!--<div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>-->
        <ul class="nav navbar-nav menu-case">
            <li>
                <a><i class="fa fa-home fa-lg"></i> home</a>
            </li>
            <li>
                <a><i class="fa fa-users fa-lg"></i> students</a>
            </li>
            <li>
                <a><i class="fa fa-user fa-lg"></i> employees</a>
            </li>
            <li>
                <a><i class="fa fa-book fa-lg"></i> courses</a>
            </li>
            <li>
                <a><i class="fa fa-pencil-square fa-lg"></i> examination</a>
            </li>
            <li>
                <a><i class="fa fa-check-circle fa-lg"></i> attendance</a>
            </li>
            <li>
                <a><i class="fa fa-calendar fa-lg"></i> time table</a>
            </li>
            <li>
                <a><i class="fa fa-bar-chart fa-lg"></i> reports</a>
            </li>
            <li>
                <a><i class="fa fa-cog fa-lg"></i> settings</a>
            </li>
            <li>
                <a><i class="fa fa-building fa-lg"></i> hostel</a>
            </li>
            <li>
                <a><i class="fa fa-bus fa-lg"></i> transport</a>
            </li>
            <li>
                <a><i class="fa fa-bank fa-lg"></i> library</a>
            </li>
            <li>
                <a><i class="fa fa-download fa-lg"></i> downloads</a>
            </li>
            <li>
                <a><i class="fa fa-arrow-circle-o-down fa-lg"></i> import</a>
            </li>
            <li>
                <a><i class="fa fa-arrow-circle-o-up fa-lg"></i> export</a>
            </li>
            <li>
                <a><i class="fa fa-comments fa-lg"></i> sms</a>
            </li>
        </ul>
    </div>
</nav>